.center {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.center-table {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.center-simple {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-card-style{
  background-color: rgb(230, 230, 230);
}

.button-background{
  background-color: white;
}

.inner-card-style{
  background-color: white;
}